body {
  width: 100%;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  text-align: center;
}
.promo h1 {
  font-weight: 200;
}

#powered {
  font-weight: 700;
}

.template {
  display: grid;
  grid-template: 2fr 1fr 2fr / 1fr 1fr 1fr;
}

.supervisor {
  grid-column-start: 1;
  grid-row-start: 2;
  border-top: 3px solid hsl(180, 62%, 55%);
}

.team {
  grid-column-start: 2;
  grid-row: 1;
  border-top: 3px solid hsl(0, 78%, 62%);
}

.karma {
  grid-column-start: 2;
  grid-row-start: 3;
  border-top: 3px solid hsl(34, 97%, 64%);
}

.calculator {
  grid-column-start: 3;
  grid-row-start: 2;
  border-top: 3px solid hsl(212, 86%, 64%);
}

.template,
.supervisor,
.team,
.karma,
.calculator {
  position: relative;
  box-shadow: 0 3px hsla(0, 2%, 71%, 0.89);
  background-color: hsl(0, 0%, 98%);
}

.template img,
.supervisor img,
.team img,
.karma img,
.calculator img {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.template p,
.supervisor p,
.team p,
.karma p,
.calculator p,
.description p {
  color: hsl(0, 3%, 78%);
  font-size: 15px;
}
